body{
    background-color:rgb(33, 37, 41);
    font-family: Raleway, Helvetica, sans-serif;
}

.header {
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background: transparent;
}

.flex-container{
    display: flex;
}

.sr-only{
    color: white;
    font-weight: bold;
}

hr {
    background:rgb(23, 163, 184);
}

.blueboxes {
    background:rgb(23, 163, 184);
    padding: 4px;
}

.card-body {
    background-color: rgb(23, 163, 184);
    color: white;
}

footer {
    background-color: rgb(23, 163, 184);
    color: white;
    text-decoration: none;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
    margin-right: 10px;
}